<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Home | Substation Manager</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>

    <div th:replace="~{fragments/sidebar :: sidebar(currentPage=${currentPage})}"></div>

    <div class="main-content" th:object="${user}">
        <header>
            <h1>Dashboard</h1>
            <p th:text="${'Welcome, ' + user.role.getDisplayName()}">Welcome, Admin</p>
        </header>

        <section class="dashboard-cards">
            <div class="card">
                <i class="fa-solid fa-bolt"></i>
                <div>
                    <h3>Total Consumption</h3>
                    <p th:text="${#numbers.formatDecimal(totalConsumption, 0, 0)} + ' kWh'">1250 kWh</p>
                </div>
            </div>
            <div class="card">
                <i class="fa-solid fa-building"></i>
                <div>
                    <h3>Active Floors</h3>
                    <p th:text="${floorCount}">5</p>
                </div>
            </div>
            <div class="card">
                <i class="fa-solid fa-gauge-high"></i>
                <div>
                    <h3>Active Meters</h3>
                    <p th:text="${meterCount}">12</p>
                </div>
            </div>
            <div class="card">
                <i class="fa-solid fa-users"></i>
                <div>
                    <h3>Registered Companies</h3>
                    <p th:text="${companyCount}">8</p>
                </div>
            </div>
        </section>

        <section class="recent">
            <h2>Recent Readings</h2>
            <table>
                <thead>
                <tr>
                    <th>Company</th>
                    <th>Floor</th>
                    <th>Date</th>
                    <th>Value (kWh)</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="company : ${companies}">
                    <td th:text="${company.name}">M-01</td>
                    <td th:text="${company.floor.getFloorNumber()}">1</td>
                    <td th:text="${#temporals.format(company.createdOn, 'dd-MM-yyyy')}">06-10-2025</td>
                    <td th:text="${company.readings.get(0).getTotalConsumption()}">356</td>
                </tr>
                </tbody>
            </table>

            <div th:if="${companies.isEmpty()}" class="placeholder-companies">
                <i class="fa-regular fa-folder-open"></i>
                <span>You still have no companies added.</span>
            </div>
        </section>
    </div>

    <script src="/js/sidebar/sidebar.js"></script>

</body>
</html>
