<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
          integrity="sha512-jk..." crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">

            <div class="logo">
                <i class="fa-solid fa-bolt"></i>
                <h1>Substation</h1>
            </div>

            <p th:text="#{login.signInMessage}" class="subtitle">Sign in to your account</p>

            <p th:if="${loggedOut}" class="success-message" th:text="#{login.logOutMessage}">Logged out successfully</p>

            <p th:if="${registeredMessage}" class="success-message" th:text="#{login.registerMessage}"></p>

            <form th:action="@{/login}" th:method="POST" th:object="${loginRequest}">

                <div class="input-group">
                    <label th:text="#{login.username}" for="username">Username</label>
                    <input type="text" id="username" th:field="*{username}" th:placeholder="#{login.username.placeholder}" required>
                </div>

                <div class="input-group">
                    <label th:text="#{login.password}" for="password">Password</label>
                    <input type="password" id="password" th:field="*{password}" th:placeholder="#{login.password.placeholder}" required>
                </div>

                <p th:if="${errorMessage}" class="error-message" th:text="#{login.invalid.credentials}">Invalid</p>
                <p th:if="${inactiveMessage}" class="error-message" th:text="#{login.deactivatedAccount}">Deactivated</p>
                <p th:if="${usernameNotExist}" class="error-message" th:text="#{login.usernameDoesNotExist}">Not exist</p>
                <p th:if="${param.roleChanged}" class="warning-message" th:text="#{login.roleChanged}">Your role has been changed. Please log in again.</p>
                <button th:text="#{login.button}" type="submit" class="btn">Login</button>
            </form>

            <p class="footer-text">
                <span th:text="#{login.noAccount}">Don’t have an account?</span>
                <a th:href="@{/register}" th:text="#{login.registrationLinkMessage}">Sign up</a>
            </p>

            <div th:replace="~{fragments/footer :: footer}"></div>
        </div>
    </div>
</body>
</html>