<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <title>Meters</title>
</head>
<body>
    <input type="hidden" id="pricePerKwh" th:value="${meterFormula != null ? meterFormula.pricePerKwh : 0.2}">
    <input type="hidden" id="divider" th:value="${meterFormula != null ? meterFormula.divider : 2}">

    <div th:replace="~{fragments/sidebar :: sidebar(currentPage=${currentPage})}"></div>

    <div th:replace="~{fragments/sidebar :: sidebar(floorNumber=${floorNumber})}"></div>

    <div class="main-content">
        <header>
            <h1 th:text="'Meters | Floor ' + ${floorNumber}">Floor 1</h1>
            <p>Manage Air Conditioners' Meters and Readings</p>
        </header>

        <p th:if="${meterFormula == null}" class="error-message">
            ⚠️ Company Formula Service unavailable. Total cost calculation won't work correctly.
        </p>

        <section class="add-company">
            <h2>Add Meter</h2>
            <p th:if="${errorMessage}" th:text="${errorMessage}" class="error-message"></p>
            <form id="addMeterForm" class="styled-form" th:action="@{'/meters/floor/' + ${floorNumber}}"
                  th:method="POST" th:object="${meterRequest}">
                <input th:field="*{meterName}" type="text" name="meterName" placeholder="Meter Name" required>
                <input th:field="*{outsideBody}" type="text" placeholder="Outside Body" required>
                <input th:field="*{room}" type="text" placeholder="Room" required>
                <input th:field="*{description}" type="text" placeholder="Description">
                <button type="submit"><i class="fa-solid fa-plus"></i> Add</button>
            </form>
        </section>

        <section class="recent">
            <h2>Readings</h2>

            <form th:action="@{'/meters/save?floorNumber=' + ${floorNumber}}" th:method="POST" th:object="${readingWrapper}" >
                <table class="styled-table">
                    <thead>
                    <tr>
                        <th>Meter</th>
                        <th>Out Body</th>
                        <th>Room</th>
                        <th>Description</th>
                        <th>% Energy</th>
                        <th>Old kWh</th>
                        <th>New kWh</th>
                        <th>Diff kWh</th>
                        <th>Total Cost</th>
                    </tr>
                    </thead>
                    <tbody id="readingsBody">
                    <tr th:each="meter, iter : ${readingWrapper.readings}">
                        <td>
                            <span th:text="${meters[iter.index].meterName}"></span>
                            <input type="hidden" th:field="*{readings[__${iter.index}__].meterName}"/>
                        </td>
                        <td><input th:field="*{readings[__${iter.index}__].outsideBody}" type="text" /></td>
                        <td><input th:field="*{readings[__${iter.index}__].room}" type="text" /></td>
                        <td><input th:field="*{readings[__${iter.index}__].description}" type="text" /></td>
                        <td><input th:field="*{readings[__${iter.index}__].energyPercentage}" class="energy-percentage" type="number" /></td>
                        <td><input th:field="*{readings[__${iter.index}__].oldReadings}" class="old" type="number" /></td>
                        <td><input th:field="*{readings[__${iter.index}__].newReadings}" class="new" type="number" /></td>
                        <td><input th:field="*{readings[__${iter.index}__].differenceReadings}" class="diff" type="number" readonly /></td>
                        <td><input th:field="*{readings[__${iter.index}__].totalCost}" class="total-cost" type="number" readonly /></td>
                    </tr>
                    </tbody>
                </table>
                <div class="save-container">
                    <button th:unless="${meters.isEmpty()}" type="submit" class="save-btn"><i class="fas fa-save"></i> Save readings</button>
                </div>
            </form>

            <form class="swap-form" th:action="@{'/meters/swap?floorNumber=' + ${floorNumber}}" th:method="POST">
                <button th:unless="${meters.isEmpty()}" th:disabled="${areSwapped == true}" type="submit" class="swap-btn"><i class="fas fa-exchange-alt"></i> Swap readings</button>
            </form>
        </section>
    </div>

    <script src="/js/sidebar/sidebar.js"></script>
    <script src="/js/readings/meter-calculator.js"></script>
</body>

</html>