<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Register | Substation Manager</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="logo">
                <i class="fa-solid fa-bolt"></i>
                <h1>Substation</h1>
            </div>
            <p class="subtitle">Create your account</p>

            <form th:action="@{/register}" th:method="POST" th:object="${registerRequest}">
                <div class="input-group">
                    <label>Username</label>
                    <input type="text" placeholder="Type your username" th:field="*{username}">
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-message"></p>
                    <p th:if="${usernameExistsMessage}" th:text="${usernameExistsMessage}" class="error-message"></p>
                </div>

                <div class="input-group">
                    <label>Email</label>
                    <input type="text" placeholder="Type your email" th:field="*{email}">
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></p>
                    <p th:if="${emailExistsMessage}" th:text="${emailExistsMessage}" class="error-message"></p>
                </div>

                <div class="input-group">
                    <label>Password</label>
                    <input type="password" placeholder="Type your password" th:field="*{password}">
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></p>
                    <p th:if="${passwordErrorMessage}" th:text="${passwordErrorMessage}" class="error-message"></p>
                </div>

                <div class="input-group">
                    <label>Confirm Password</label>
                    <input type="password" placeholder="Retype your password" th:field="*{confirmedPassword}">
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></p>
                    <p th:if="${passwordErrorMessage}" th:text="${passwordErrorMessage}" class="error-message"></p>
                </div>

                <button class="btn" type="submit">Register</button>
            </form>

            <p class="footer-text">
                Already have an account?
                <a th:href="@{/login}">Log in</a>
            </p>

            <div th:replace="~{fragments/footer :: footer}"></div>
        </div>
    </div>
</body>
</html>